<canvas id="game" width="400" height="400"></canvas>

<br><br>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @character.name %>
  </li>

  <li>
    <strong>Health:</strong>
    <%= @character.health %>
  </li>

  <li>
    <strong>Attack:</strong>
    <%= @character.attack %>
  </li>

</ul>
<span><%= link "Battle", to: battle_path(@conn, :index), method: :get%></span>
<br><br>

<%= render "chat.html" %>

<br><br>
<span><%= link "Exit", to: character_path(@conn, :index), method: :get%></span>
