<div style="height: 600px; position: relative; width: 1100px">
  <canvas id="game" height="600" width="1100" style="height: 100%; width: 100%;"></canvas>

  <div style="bottom: 0px; left: 0px; position: absolute; width: 100%">
    <%= render "chat.html" %>
  </div>

</div>
