<div style="height: 400px; position: relative; width: 400px">
  <canvas id="game" height="400" width="400" style="height: 100%; width: 100%;"></canvas>

  <div style="bottom: 0px; left: 0px; position: absolute; width: 100%">
    <%= render "chat.html" %>
  </div>

</div>

<br><br>
<span><%= link "Exit", to: character_path(@conn, :index), method: :get%></span>


<br><br>

<span><%= link "Battle", to: battle_path(@conn, :index), method: :get%></span>
